conda env create -n monai python=3.9
conda activate monai
git clone https://github.com/Project-MONAI/MONAILabel
pip install -r MONAILabel/requirements.txt
export PATH=$PATH:`pwd`/MONAILabel/monailabel/scripts
pip install batchgenerators
pip install pandas